* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
html, body {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%; }
#root {
    width: 100%;
    height: 100%;
    background-image: url('./abstract-simple-background_53876-99863.jpg');
    background-position: center;
    background-size: contain;
    position: relative;
}
#logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 150px;
    height: 150px;
}

#logo #logo-img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
}
#heading {
    text-align: center;
    padding-top: 50px;
}
#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* width: 100%; */
}
#main-number {
    padding-top: 20px;
}
#main-number input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 3rem;
}
#main-random {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 20px;
    width: 100%;
}
#main-random > p {
    font-size: 1.5rem;
}
.btn-random {
    text-transform: uppercase;
    color: #fff;
    padding: 10px 12px;
    border: none;
    background-color: #19a951;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    width: 200px;
}
.btn-random:hover {
    background-color: #8df3b6;
    color: #000;
}
#sub {
    position: absolute;
    left: 30px;
    bottom: 20px;
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    padding: 10px 12px;
}
.sub-list {
    list-style-type: none;
}
.sub-item {
    display: flex;
    padding-top: 10px;
}
#end {
    position: absolute;
    bottom: 159px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}
#end > h3 {
    font-size: 1.5rem;
}
#author {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.sub-title {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#logo-right {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #list {
        display: none;
    }
    #sub {
        display: none;
    }
    #logo {
        display: none;
    }
    #stroll-x {
        width: 90%;
    }
    #menu-bar {
        display: flex;
    }
    #heading {
        padding-top: 70px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #root {
        height: 100%;
    }
    .heading-title {
        font-size: 3rem;
    }
    #main-heading {
        font-size: 2.8rem;
    }
    #main-sub {
        font-size: 2.3rem;
    }
    p, span, h3 {
        font-size: 1.7rem;
    }
   
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */